/* ================================= 
  Base Styles
==================================== */


* {
	box-sizing: border-box;
}

body {
	font-family: 'Varela Round', sans-serif;
	line-height: 1.6;
	color: #3a3a3a;
}

.container p {
	font-size: .95em;
	margin-bottom: 1.5em;
}

h2,
h3,
a {
	color: #000000;
}

h2,
h3 {
	margin-top: 0;
}

a {
	text-decoration: none;
}

.header {
	background: rgb(230, 229, 229);
}


/* ================================= 
  Base Layout Styles
==================================== */


/* ---- p-intro ---- */

.p-intro {
	text-align: left;
}

/* ---- feat img ---- */

.feat-img {
	width: 100%;
	float: right;
	margin-left: 25px;
	margin-bottom: 40px; 
}

.feat-img2 {
	max-width: 100%;
	float: top;
}	

/* ---- Layout Containers ---- */

.container {
	width: 80%;
	max-width: 1150px;
	margin: 0 auto;
	text-align: center;
}

.normal-col {
  text-align: center;
  margin-top: 25px;
}

.contact-col {
  text-align: center;
  margin: 0 5em 0 5em;
}

/* ================================= 
  Media Queries
==================================== */


@media (min-width: 768px) {

.feat-img {
	width: 300px;
	float: right;
	margin-left: 25px;
	margin-bottom: 40px; 
}

.col {    
	display: inline-block;
	width: 50%; 
	margin-right: -4px;
	vertical-align: top;
	padding-left: 1em;
	padding-right: 1em;
}
}

@media (min-width: 1024px) {

	.feat-img {
	width: 300px;
	float: right;
	margin-left: 25px;
	margin-bottom: 40px; 
}

	.col {    
	display: inline-block;
	width: 33.33%; 
	margin-right: -4px;
	vertical-align: top;
	padding-left: 1em;
	padding-right: 1em;
	}
}


/* ================================= 
  Clear Fix
==================================== */


.clearfix::after {
  content: "";
  display: table;
  clear: both;
}