/* --------------------------
  Main Styles
--------------------------- */




.main-header,
.nav {
	display: flex;
	flex-direction: column;
	text-align: center;
}

.nav a {
	display: block;
	color: #797e83;
	font-size: 1.125em;
	padding: .4em;
	margin: 0 25px;
	border-bottom: 4px solid #ebecec;
	background-color: #ffffff;

}



.name {
	font-size: 1.25em;
    align-self: center;
    text-align: center;
}

.nav a:hover {
	color: #0b0b0b;
	border-bottom-color: #ffffff;
}

/* --------------------------
  Media Queries
--------------------------- */

@media (min-width: 768px) {
	.main-header {
        height: 100px;
        margin: 0 10em 0 10em;
		justify-content: flex-end;
	}
	.name {
		width: 140px;
	}
	.nav {
		flex-direction: row;
		justify-content: space-between;
	}
	.nav a {
		border-bottom-color: transparent;
		padding: 0 25px;
		background-color: transparent;	
	}
}

@media (min-width: 1024px) {
	.main-header {
		flex-direction: row;
        margin: 0 7em;
    }
	.name {
		margin-right: auto;
	}
	.nav {
		margin-top: 0;
        align-self: center;
        margin-left: auto;
	}
	.nav li {
		margin-left: .65em;
		margin-right: .65em;
	}

	.nav a {
		padding: 0 25px;
	}
}




.clearfix::after {
    content: "";
    display: table;
    clear: both;
  }